body {
    margin: 60px auto;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 0px;
    padding-top: 50px;
}

header{
    margin-bottom: -50px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
    transition: all 0.5s;
}

.navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.cbp-af-header-shrink {
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.9;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

/* Adjust the left and right margin of header*/
@media (min-width: 768px) {
    .navbar-brand {
        padding: 15px 15px 15px 50px;
    }

    .navbar-right {
        float: right !important;
        margin-right: 50px;
    }


    .blog-title{
        padding-bottom: 10px;
        border-bottom: solid 1px #000000;
        margin-top: 250px;
        text-align: right;
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        padding: 15px 15px 15px 150px;
    }

    .navbar-right {
        float: right !important;
        margin-right: 150px;
    }


    .blog-title{
        padding-bottom: 10px;
        border-bottom: solid 1px #000000;
        margin-top: 250px;
        text-align: right;
        padding-right: 20px;
    }

}

@media (max-width: 768px) {
    .navbar-brand {
        padding: 15px 15px;
    }
}
/* Adjust the left and right margin of header*/

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
    transition: all .5s ease;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    font-size: .8em;
    width: 100%;
    margin: 40px auto;
    margin-bottom: 0px;
    background-color: #222;
    margin-top: 80px;
}

.navbar-default {
    background-color: #101010;
    border-color: #e7e7e7;
}

footer div {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
}

footer h5 {
    color: #efe6e6;
    font-weight: bold;
}

footer a {
    color: #70726F;
    font-size: 30px;
    padding: 10px;
    transition: all .5s ease;
}

footer a:hover {
    color: white;
}



/* content style*/
section {
    text-align: center;
}

.profile {
    height: 100%;
    font-size: 12px;
    padding-top: 100px;
    margin-bottom: 200px;
}

.description {
    text-align: center;
}

/* center a div vertically */
.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
    //border-left: 5px solid #222;
    //border-right: 5px solid #222;
    font-family: 'Merriweather', Georgia, Times;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin-top: -10px;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    /*width:*/ /*whatever width you want*/
    /*margin-top: -170px; !*adjust the distance to top*!*/
}
/* center a div vertically */


/* CV*/
.cv {
    height: 100%;
    font-size: 12px;
    /*margin-top: 230px;*/
    margin-bottom: 100px;
    font-family: 'Merriweather', Georgia, Times;
}

.cv h2{
    border-bottom: solid 1px #000000;
    padding-bottom: 10px;
}

.name {
    font-weight: 700;
    text-align: left;
}

address {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.cv section p {
    text-align: left;
    font-size: 16px;
}

.cv section h2 {
    text-align: left;
    margin-top: 2px;
    padding-top: 2px;
    margin-bottom: 5px;
}

span.cv_desc {
    display: block;
    text-align: left;
    font-size: 16px;
}

span.cv_detail {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.title2 {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.cv ul {
    text-align: left;
    font-size: 16px;
}

.date {
    font-size: 14px;
    font-weight: bold;
}

.download {
    width: 100%;
    margin-top: 120px;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #555;
}

/* Blog */
.post{
    text-align: left;
    margin-top: 100px;
    margin-bottom: 200px;
}

.post h1 {
    text-align: left;
}


.post span{
    text-align: right;
}

.blog-title{
    padding-bottom: 10px;
    border-bottom: solid 1px #000000;
    margin-top: 0px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 10px;
}
.blogs {
    padding-top: 30px;
    text-align: left;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 0px 0 0;
}

/* About */
.about {
    text-align: left;
    font-size: 16px;
}

.about p{
    text-align: left;
}

.about ul{
    font-size: 18px;
    text-align: left;
}

.about a {
    text-decoration: none;
    color: #2690ec;
}

.about a:hover {
    text-decoration: underline;
    color: #2e89d7;
}
