.post > .img-title{
    text-align: left;
    border-bottom: 1px solid #000000;
}
.post > .img-title > h4{
    text-align: right;
}
.story{
    font-weight: 500;
}

.story div{
    text-align: center;
}

/* responsive to the width of the main part: header, body and footer */
/*这个宽度适应iPhone 等大部分手机的尺寸。在这个尺寸中，Home可以在最左边*/
@media (max-width: 414px){
    section .story{
        margin: 0 auto;
    }
    .story ul{
        list-style: none;
        margin-top: 20px;
        margin-left:-40px;
    }
    .story li{
        text-align: center;
        border-bottom: 1px solid #000000;
        margin-bottom: 10px;
    }
}
/* iPad大小，这个尺寸有固定宽度，所以nav都展开 */
@media (min-width: 414px){
    section .story{
        margin:0 auto;
        text-align: left;
        padding-bottom: 50px;
    }
    .story ul{
        list-style: none;
        margin-top: 20px;
    }
}
/* 这个是正常浏览器浏览时候的尺寸 */
@media (min-width: 768px){
    section .story{
        margin: 0 auto;
        text-align: left;
        width: 600px;
    }
    .story ul{
        list-style: none;
        margin-top: 20px;
    }
    .story li{
        width: 230px;
        text-align: left;
        margin-right: 40px;
        margin-bottom: 10px;
        float: left;
    }

}
/*这个是大屏幕浏览器浏览时候的尺寸 */
@media (min-width: 992px){
    section .story{
        margin: 0 auto;
        text-align: left;
        padding-bottom: 50px;
        width: 800px;
    }
    .story ul{
        list-style: none;
        margin-top: 20px;
    }
    .story li{
        width: 200px;
        text-align: left;
        margin-right: 40px;
        float: left;
        margin-bottom: 20px;
    }
    .story .img-name{
        height: 20px;
    }
}